body {
background-color: #a5cbed;
margin: 0;
height: 800px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navcontainer {
background-color: #f6c6d8;
height: 50px;
}

.nav {
padding: 20px;
}

.nav a {
    padding: 25px;
    font-size: 18px;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:link {
    color: black;
}
.real {
    padding-left:20px;
}

ul#flex-container {
list-style-type: none;
height: 800px;
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

ol#flex-container-nav {
    margin: 0;
    list-style-type: none;
    justify-content: space-between;
    display: flex;
}




ul li {
    
height: 500px;
width: 200px;
background-color: #d7e6ec;
padding: 30px;
border: 2px solid rgb(237, 145, 199);
text-align: center;
margin: 20px;
}

.moreinfo {
    background-color: #a5cbed;
}
.moreinfo h3 {
    padding: 5px;
}
